
.glass{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.bg {
    margin: 0 0;
    background-image: url('../public/images/blur.gif');
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}